<h2>Articles from <%= @category.name %></h2>

<div><% @articles.each do |article| %>
  <ul>
    <li><a href='/categories/<%= @category.id %>/articles/<%= article.id %>'><%= "#{article[:title]}" %></a> <%= "Price: #{article[:price]}" %></li>
  </ul>
  <% end %>
</div>

<% if logged_in? %>
  <p>Create a <a href="/categories/<%= @category.id %>/articles/new">new</a> posting!</p>
<% end %>