<h2>Detail page for <%= @article.title.capitalize! %> in the category <%= @category.name %> submitted by <%= @user.capitalize! %> </h2>

<ul>
  <li>Price: <%= @article.price %></li>
  <li><%= @article.description %></li>
</ul>

<% if logged_in? && current_user.username.capitalize! == @user %>
  <p><%= current_user.username %>, click <a href='/categories/<%= @category.id %>/articles/<%= @article.id %>/edit'>edit</a> to update this post. Click <%= erb :'articles/_delete', layout: false, locals: { :article => @article } %> to remove this post from the site.</p>
<% end %>

<p>Back to <a href="/categories/<%= @category.id %>/articles">Articles</a>